<style>
.imagem-homage {
  height: 400px; /* Defina a altura desejada */
  object-fit: cover; /* Ajusta a imagem para caber na altura definida */
}
.video-homage{
    height: 300px;
    object-fit: cover;
}
</style>


<div class="p-5 mb-4 bg-light rounded-3 w-75 mx-auto">
  <div class="container-fluid py-5 ">



    <h1 class="display-5 fw-bold">De Lucas para meu Amor</h1>
    <p>Bom... Eu espero que você tenha gostado desse pequeno presente que fiz com muito amor e carinho.</p>
    <p>Eu sei que agora estamos, oficialmente, separados e sem chances de reatar, mas mesmo assim quis terminar isso.</p>
    <p>Não ache que é um meio para te convencer de voltar atrás ou qualquer coisa do tipo (a menos que você ache que funcione e queira voltar, aí eu quero kkkkkk BRINCADEIRA)</p>
    <p>Eu te amo demais Jolie Beatriz Costa Santos e isso é apenas uma tentativa de mostrar isso.</p>
    <p>Não sei o que futuro reserva pra nós, mas o que sei é que sou eternamente grato por todo nosso tempo junto.</p>
    <p>Todos esses meses que tive o privilégio de compartilhar com a pessoa mais importante da minha vida.</p>
    <p>Se eu tivesse um desejo a ser realizado por uma divindade era reviver todo esse tempo novamente, porque foram meses que eu pude afirmar:</p>
    <h3>"SOU FELIZ"</h3>

    
    <div class="album py-5 bg-light">
    <div class="container">

    <h4>O começo...</h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-5" style="align-items: center;">
        <div class="col">
          <div class="card shadow-sm">
            <%= video_tag ("ratin.mp4"), controls:true, preload:true, class:"card-img-top video-homage" %>
            <div class="card-body">
              <p class="card-text">...da aproximação com esse vídeo.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag ("foto14.png"),class:"card-img-top imagem-homage" %>
            <div class="card-body">
              <p class="card-text">...da atração com essa foto.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag ("foto1.jpeg") ,class:"card-img-top imagem-homage" %>
            <div class="card-body">
              <p class="card-text">...do encanto com esse sorriso.</p>
            </div>
          </div>
        </div>
    </div>

    <h4>Uma carinha</h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-5" style="align-items: center;">
        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag ("foto7.jpeg") ,class:"card-img-top imagem-homage" %>
            <div class="card-body">
              <p class="card-text">...boba assim.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag ("foto4.jpeg") ,class:"card-img-top imagem-homage" %>
            <div class="card-body">
              <p class="card-text">...tédio assim.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag ("foto11.jpg") ,class:"card-img-top imagem-homage" %>
            <div class="card-body">
              <p class="card-text">...num carinha.</p>
            </div>
          </div>
        </div>
    </div>

    <h4>Nossa primeira foto...</h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-5" style="align-items: center;">
        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag ("foto13.jpg") ,class:"card-img-top imagem-homage" %>
            <div class="card-body">
              <p class="card-text">...pré saída.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag ("foto2.jpg") ,class:"card-img-top imagem-homage" %>
            <div class="card-body">
              <p class="card-text">...durante uma noite romântica.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag ("foto8.jpg") ,class:"card-img-top imagem-homage" %>
            <div class="card-body">
              <p class="card-text">...pós sexo.</p>
            </div>
          </div>
        </div>
    </div>

    <h4>Beatriz...</h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-5" style="align-items: center;">
        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag ("foto12.png") ,class:"card-img-top imagem-homage" %>
            <div class="card-body">
              <p class="card-text">..., a streamer.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag ("foto17.jpg") ,class:"card-img-top imagem-homage" %>
            <div class="card-body">
              <p class="card-text">..., a misteriosa.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag ("foto10.jpeg") ,class:"card-img-top imagem-homage" %>
            <div class="card-body">
              <p class="card-text">...,a preguiçosa.</p>
            </div>
          </div>
        </div>
    </div>

    <h4>Pezinhos perfeitos...</h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-5" style="align-items: center;">
        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag ("foto18.jpg") ,class:"card-img-top imagem-homage" %>
            <div class="card-body">
              <p class="card-text">... pra dormir.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <%= video_tag ("tease.mp4"), size:"160x100", controls:true, preload:true, class:"card-img-top video-homage" %>
            <div class="card-body">
              <p class="card-text">... pra lamber.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag ("foto5.jpg") ,class:"card-img-top imagem-homage" %>
            <div class="card-body">
              <p class="card-text">... pra gozar.</p>
            </div>
          </div>
        </div>
    </div>

    <h4>Uma gatinha...</h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-5" style="align-items: center;">
        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag ("foto3.png") ,class:"card-img-top imagem-homage" %>
            <div class="card-body">
              <p class="card-text">... sexy.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag ("foto9.png") ,class:"card-img-top imagem-homage" %>            
            <div class="card-body">
              <p class="card-text">... sexy.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <%= image_tag ("foto19.jpeg") ,class:"card-img-top imagem-homage" %>
            <div class="card-body">
              <p class="card-text">... sexy.</p>
            </div>
          </div>
        </div>
    </div>

    <h4>O meu amor por você é realmente imensurável e realmente profundo e realmente infinito...</h4>    
  
    <iframe src="https://www.veed.io/embed/15cd979c-000b-496d-a781-f3921e51a12c" width="744" height="504" frameborder="0" title="pra-tu-bia.mp4" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


  </div>
</div>
